*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    margin: 0 auto;
    width: 1440px;
}
header{
    background-color: aquamarine;
    border: 1px solid #090;
    font-size: 1vw;
    color: blue;
    border-radius: 5px;
    margin: 10px 0;
}
header h1{
    margin: 20px;
}
nav{
    background-color: black;
    border-radius: 5px;
    margin: 10px 0;
    /* text-align: center; */
}
nav li{
    display: inline-block;
    padding: 10px 20px;
}
nav a{
    text-decoration: none;
    color: white;
    font-size: 15px;
    transition: 0.5s;
}
nav a:hover{
    color: white;
    font-size: 20px;
}
main{
    display: grid;
    grid-template-columns: 1068px 352px;
    grid-gap: 20px;
}
.slider-banner{
    border: 1px solid black;
    width: 1068px;
    height: 401px;
}
/*SLIDER - BANNER */

/*END*/
.item{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;
    margin: 30px 0;
}
.item-sp{
    width: 200px;
    height: 300px;
    border: 3px solid gray;
    border-radius: 15px;
}
/* .img-item{
    height: 100px;
} */
.img-item img{
    width: 100%;
    height: 220px;
    border-radius: 15px;
}
.info-item{
    padding-left: 20px;
}
.price-item{
    font-size: 20px;
    font-weight: bold;
}
.desc-item p{
    padding: 10px 0;
}
.box-title{
    color: #333;
    padding: 10px;
    background-color: #EEE;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: 1px solid #CCC;
}
.box-content{
    border-left: 1px solid #CCC;
    border-right: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    min-height: 200px;
    padding: 20px;
}
.box-content2{
    border-left: 1px solid #CCC;
    border-right: 1px solid #CCC;
    background-color: #aaa;
}
.box-footer{
    padding: 10px;
    background-color: #EEE;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-left: 1px solid #CCC;
    border-right: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
}
.box-cate{
    margin: 20px 0;
}
/* BOX TAI KHOAN */
.formtk{
    line-height: 150%;
}
.formtk input[type="text"]{
    width: 100%;
    border: 1px solid #CCC;
    padding: 5px 10px;
    border-radius: 5px;
}
.formtk input[type="checkbox"]{
    border-radius: 5px;
    margin: 5px 0;
}
.formtk input[type="submit"]{
    border-radius: 5px;
    padding: 5px 10px;
    background-color: white;
    border: 1px solid #ccc;
}
.formtk input[type="submit"]:hover{
    background-color: #ccc;
}
.formtk a{
    color: teal;
    text-decoration: none;
}
.formtk a:hover{
    color: #660;
    text-decoration: underline;
}
/* DANH MUC */
.danhmuc li{
    list-style: none;
    padding: 10px 20px;
    background-color: #FFF;
    border-bottom: 1px solid #ccc;
}
.danhmuc a{
    color: #666;
    text-decoration: none;
}
.danhmuc li:hover{
    background-color: #ccc;
}
.searchbox input[type="text"]{
    width: 100%;
    padding: 5px 10px;
    background-color:  #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.top10{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.top10 img{
    width: 20%;
    height: 50px;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
.top10 a{
    color: #666;
    text-decoration: none;
}
.top10 a:hover{
    color: #000;
    text-decoration: underline;
}

/* FOOTER */
footer{
    background-color: aquamarine;
    border: 1px solid #090;
    font-size: 1vw;
    color: blue;
    border-radius: 5px;
    margin: 10px 0;
}
footer h3{
    padding: 20px;
}